.header-middle{
    display: flex;
    height: 65px;

}
.heder-lower{
    border-top: 1px solid rgb(227, 214, 214);
}
.button-container{
    height: 55px;
    /* background: #CCCCCC; */
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1026px) {
    .button-container {
        display: none;
    }
}

.header-middle{
    padding-left: 38px;
}