.header-container {
    box-shadow: 0px 0px 5px 0px #9c9c9c;
}

.header-middle {
    display: flex;
    height: 65px;

}

.heder-lower {
    display: flex;
    border-top: 1px solid rgb(227, 214, 214);
}

.header-lower-right {
    margin-right: 30px;
    display: flex;
    margin-left: auto;
}

.button-container {
    height: 55px;
    /* background: #CCCCCC; */
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1026px) {
    .button-container {
        display: none;
    }
}

.header-middle {
    padding-left: 38px;
}

.heder-lower {
    padding-top: 10px;
    /* display: flex; */
}