.text{
    margin-top: -2px;
}
.text a{
    color: #333;
    text-decoration: none;
    font-size: 12.5px;
}

.Signin-container{
    margin-left: 2%;
    width: 100px;
}
.signloginTitle{
    margin-top: 0px;
}
.Messages-container{
    margin-left: 2%;
    width: 50px;
    text-align: center;
}
.Orders-container{
    width: 50px;
    margin-left: 2%;
    text-align: center;
}
.Cart-container{
    width: 50px;
    margin-left: 2%;
    text-align: center;
}