.top-nav{
    margin-left: 40px;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}
.navbar-list{
    display: flex;
}

.top-nav a{
    font-size: 14px;
    margin-left: 15px;
    margin-right: 15px;
}

.navitem{
    display: flex;
}

/* Hide the link that should open and close the topnav on small screens */
.nav-btn {
    display: none;
  }

  @media screen and (max-width: 1026px) {
    .top-nav{
        display: none;
    }
  }