.App {
    font-family: Roboto, Helvetica, Tahoma, Arial, "Microsoft YaHei";
}

.link-container a {
    text-decoration: none;
    font-size: 14px;
    color: black;
}

.link-container:hover .link-item {
    color: rgb(227, 83, 0);
}

/* styles for arrows */
.nav-arrow-container {
    text-align: center;
    background-color: transparent;
    width: 20px;
    height: 20px;
    perspective: 1000px;
}

.arrows {
    font-size: 14px;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.4s;
    transform-style: preserve-3d;
}

.arrow-top-container:hover .arrows {
    transform: rotateX(180deg);
}

.downarrow,
.uparrow {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.downarrow {
    color: black;
}

.uparrow {
    color: rgb(227, 83, 0);
    transform: rotateX(180deg);
}